/*CONNECTING FONTS*/
@import url('https://fonts.googleapis.com/css?family=Alice|Lobster|Playfair+Display:400i|Gabriela');
/*
  font-family: 'Lobster', cursive;
  font-family: 'Playfair Display', serif;
  font-family: 'Alice', serif;
  font-family: 'Gabriela', serif;
*/


/* Форматирование текста */
body {
    font-family: 'Lobster', cursive;
}
p {
    margin: 5px 0px 0px;
}
ul, li {
    margin: 0;
}
li {
    list-style: disc;
}
a {
    text-decoration: none;
}
hr {
    width: 60%;
    height: 3px;
    border: none;
    background-color: #F2FF00;
}
h2 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    margin: 15px 0px 0px 0px;
}
h4 {
    font-size: 30px;
}
h5 {
    padding-bottom: 10px;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
}
h6 {
    font-size: 23px;
}
.center {
    text-align: center;
}
.writer {
    font-size: 25px;
    margin-bottom: 0;
    letter-spacing: 2px;
    font-family: 'Lobster', cursive;
}
.links {
    font-family: 'Alice', serif;
    font-weight: bold;
    font-size: 25px;
    color: #858461;
    text-decoration: none;
}
.links:hover {
    color: #56553f;
}
#arrowTop {
    z-index: 10;
    font-size: 40px;
    color: #000;
    position: fixed;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
}
/* ADMIN TEXT STYLES*/
.admin-text p, .admin-text a, .admin-text h1, .admin-text h2, .admin-text h3, 
.admin-text h4, .admin-text h5, .admin-text h6 {
    font-family: Arial, Helvetica, sans-serif;
}
.admin-text table {
    font-size: 12px;
}
.table-users tr {
    font-size: 18px;
}